svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
}

.w-100 {
  width: 100% !important;
  height: auto !important;
}

.text-info {
  color: #17a2b8 !important;
}

.text-dark {
  color: #000;
}

.text-yellow {
  color: #ffc600;
}
.text-gray-400 {
  color: #d0d0d0;
}

/* Add size classes */
.w-2 {
  width: 15px !important;
  height: 15px !important;
}

/* Add size classes */
.w-3 {
  width: 18px !important;
  height: 18px !important;
}

.w-4 {
  width: 20px !important;
  height: 20px !important;
}

.w-5 {
  width: 22px !important;
  height: 22px !important;
}

.w-6 {
  width: 24px !important;
  height: 24px !important;
}
.w-7 {
  width: 28px !important;
  height: 28px !important;
}

.w-8 {
  width: 32px !important;
  height: 32px !important;
}
.w-9 {
  width: 34px !important;
  height: 34px !important;
}
.w-11 {
  width: 45px !important;
  height: 45px !important;
}

.w-12 {
  width: 48px !important;
  height: 48px !important;
}

.w-14 {
  width: 55px !important;
  height: 55px !important;
}

.text-gray-700 {
  color: #374151 !important;
}

.text-green-600 {
  color: #05ac34;
}
.text-orange-400 {
  color: #f76900 !important;
}

.text-white {
  color: #ffffff !important;
}
