.form-container {
  margin: 20px auto;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  min-width: 370px;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .form-container {
    text-align: center;
    vertical-align: middle;
    min-width: 285px;
    width: 100%;
    margin-top: 0px;
  }
}

@media screen and (max-width: 900px) {
  .template {
    display: none;
  }
}

.form-container div {
  padding: 10px 30px 10px 30px;
}

@media screen and (max-width: 900px) {
  .form-container div {
    padding: 10px;
    padding-right: 25px;
  }
}

.stepper-container {
  padding: 10px 20px 10px 20px;
  min-height: 550px;
  /* min-width: 500px; */
  align-items: center;
  /* display: flex;
    flex-direction: row; */
  justify-content: center;
}

.self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.font-30-text-center {
  font-size: 30px;
  text-align: center;
}

.font-20 {
  font-size: 20px;
  /* text-align: center; */
}

.progress-bar {
  margin: 20px auto;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  width: 60%;
  /* padding: 30px; */
}

@media screen and (max-width: 900px) {
  .stepper-container {
    padding: 10px 20px 10px 20px;
    min-height: 650px;
    /* min-width: 500px; */
    align-items: center;
    /* display: flex;
        flex-direction: row; */
    justify-content: center;
  }
}

.stepper-container1 {
  padding: 10px 20px 10px 20px;
  min-height: 400px;
  /* min-width: 500px; */
  align-items: center;
  /* display: flex;
    flex-direction: row; */
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .stepper-container1 {
    padding: 10px 14px;
    min-height: 500px;
    /* min-width: 500px; */
    align-items: center;
    /* display: flex;
        flex-direction: row; */
    justify-content: center;
  }
}

.form-field {
  width: 70%;
}

@media screen and (max-width: 900px) {
  .form-field {
    width: 90%;
  }
}

p {
  color: black;
}

.list {
  display: flex;
  justify-content: center;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.no-people-circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1.7px solid;
  color: black;
  margin: 6px;
  padding: 5px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}

.no-scroll {
  overflow: hidden;
}

.link-to-page {
  cursor: pointer;
  color: blue;
}

.big {
  height: 150px;
  width: 150px;
  border: 2px solid;
  padding: 25px 18px;
  font-size: 18px;
}

.selected {
  color: white;
  background-color: #f76900;
}

.resource-types-container {
  text-align: left;
  color: black;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 325px;
  gap: 0px 13px;
}

.resource-types-container li {
  padding: 12px 12px 4px 12px;
  background: #f7f7f7;
  font-weight: 600;
  margin-bottom: 10px;
}

.resource-types-container span {
  font-size: 17px;
}

.back-arrow {
  text-align: left;
  line-height: 1;
  color: gray;
  cursor: pointer;
  display: flex;
}

.back-arrow i {
  font-size: 25px;
  color: gray;
}

.back-arrow span {
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  flex: 1;
}

.form-header {
  font-size: 20px;
  text-align: center;
}

.img-signin {
  margin-right: 468px;
}

.detail-container {
  margin: auto;
  /* max-width: 440px; */
}

@media screen and (max-width: 900px) {
  .img-signin {
    margin-right: 120px;
  }
  .detail-container {
    margin: auto;
    /* max-width: 110px; */
  }
}
