<!-- <p>enterprise works!</p> -->
<br>
<div class="enterprise-container">
  <div class="position-relative">
    <img *ngIf="!isMobile" fetchpriority="high" loading="eager" decoding="auto" class="header-image w-100 h-100"
      src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/enterprise_banner.webp" width="1526" height="509"
      alt="get the ideal workspace setup for large team" title="get the ideal workspace setup for large team" />
    <a class="large-btn" style="font-size: 20px;padding: 10px;"
      href="https://docs.google.com/forms/d/e/1FAIpQLScCNsY3akGSEpVwWDb-KyhlZ0dYdlvbs1IxiHHXlOZNvPrVJQ/viewform?usp=sf_link">ENQUIRE
      NOW</a>
  </div>
  <h2>Adapt to the New Normal</h2>
  <p style="width: 90%; margin: 0 auto;">
    Make informed decisions on your workplace strategy with Flexo. We help you with more than just options because your
    business deserves to save more and grow more.
    We provide tailor-made workplace solutions that match your exact needs.

  </p><br>
  <!-- <h3>Our office space experts help you with:</h3>
  <p style="padding-bottom:  30px;">
    Founded in the pandemic of 2020, Flexo is rooted in the philosophy of giving back. We believe that one of the ways
    to repair and rebuild the economy is to give.
  </p> -->
  <div class="flex-container">
    <div class="flex-images">
      <img fetchpriority="low" loading="lazy"
        src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/our_experts_can_help_you_with.webp" width="680"
        height="453" alt="Our Office Space Experts Help you with" title="Our Office Space Experts Help you with" />
    </div>
    <div class="mt-md-0 mt-4">
      <p class="sub-heading">Our Office Space Experts Help you with</p><br>
      <ul>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Customized
          spaces for small and large teams
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Distributed workspaces for the
          new
          normal
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Hub and spoke workplace
          strategy
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Branded and bespoke workspaces
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Well-equipped and managed
          spaces
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Plug-and-play setups
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Touchdown offices
        </li>
      </ul>
    </div>
  </div><br>
  <div class="flex-container-reverse">
    <div class="mt-md-0 mt-4">
      <p class="sub-heading">Why go with FLEXO™?</p><br>
      <ul>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Free, fast and easy
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Wide range of office spaces to
          choose from
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> One stop shop for customized
          workspace requirements
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Specialist in flexible office
          spaces
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Unbiased expert advice
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Give back to society and the
          environment. Learn more about Flexo’s <a class="static-page-links" routerLink="/joy-of-giving">Joy
            Of
            Giving initiative here</a>.
        </li>
      </ul>
    </div>
    <div class="flex-images">
      <img fetchpriority="low" loading="lazy"
        src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/why_go_with_flexo.webp" width="657" height="438"
        alt="Why go with FLEXO™?" title="Why go with FLEXO™?" />
    </div>

  </div><br>
  <div class="flex-container">
    <div class="flex-images">
      <img fetchpriority="low" loading="lazy"
        src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/benifits_of_ distributed_offices.webp"
        width="680" height="453" alt="Benefits of Distributed Workspaces" title="Benefits of Distributed Workspaces" />
    </div>
    <div class="mt-md-0 mt-4">
      <p class="sub-heading">Benefits of Distributed Workspaces</p><br>
      <ul>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Lower capex
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Flexible terms
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Reduced commute for employees
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Greater employee morale and
          retention
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> De-risk corporate real estate
          strategy
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Easy-to-scale setups
        </li>
        <li>
          <span> <app-icon name="smallDot" class="text-secondary w-2"></app-icon></span> Business continuity planning
        </li>
      </ul>
    </div>
  </div>
</div>