.booking-request-inquiries-list-container {
  align-items: center;
}

.booking-request-inquiries-list-container h2 {
  padding: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  padding-left: 20px;
}

.booking-request-inquiries-list-main-div {
  background: #f5f6f7;
  border-radius: 5px;
  padding: 15px 20px;
  min-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-icn-div {
  position: absolute;
  padding-left: 77%;
  padding-top: 15px;
}
.btn-icn {
  background-color: #ffff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.btn-icn-edit:hover {
  border: 1px solid #0abb87;
  color: #ffff;
  background-color: #0abb87;
}

.btn-icn-delete:hover {
  border: 1px solid #fd397a;
  color: #ffff;
  background-color: #fd397a;
}

/* th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 0px !important;
  border-bottom-style: none !important;
} */

@media only screen and (max-width: 900px) {
  .booking-request-inquiries-list-container {
    font-size: 25px 0;
  }
  .booking-request-inquiries-list-container h2 {
    font-size: 25px;
  }
}
