.main-container {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #f9f9f9;

  //   background-color: #f5f5f5;
}
.container {
  padding: 4% 0% 4% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h-50 {
  height: 50%;
}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.question {
  color: #484848;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.answer {
  color: #626b8b;
  font-size: 14px;
}
.question-panel {
  //   width: 80%;
  //   padding: 30px;
  //   margin-bottom: 30px;

  width: 80%;
  float: left;
  margin-bottom: 30px;
  position: relative;
  margin-top: 0px;
  font-size: 14px;
  background-color: #fff;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 2px 11px 0 rgb(181 127 250 / 10%);
}

.paragraph {
  color: #7a7a7a;
  margin-bottom: 8px;
}

.close-button {
  float: right;
  top: -24px;
  right: -24px;
}
.b-question-wrapper {
  margin-bottom: 2rem;
}
// .short-questions {
//   width: 80%;
//   // margin-left: 145px;
// }

.brief-questions {
  display: flex;
  flex-direction: column;
  width: 80%;
  // justify-content: center;
  // align-items: center;
}

.question-new {
  font-size: 13px;
  color: #7b7b7b;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  margin-bottom: 1rem;
}
.question-new > li {
  list-style-type: inherit !important;
  list-style: inherit !important;
}
.question-new-brief {
  font-size: 15px;
  color: #7b7b7b;
  line-height: 20px;
  font-family: Montserrat;
  font-weight: bold;
  margin-bottom: 30px;
}

// .answer-new {
//   p {
//     font-size: 13px;
//     color: #7b7b7b;
//     font-family: Montserrat;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 21px;
//     letter-spacing: 0;
//     margin-bottom: 1rem;
//   }
// }

.answer-new {
  font-size: 13px !important;
  color: #7b7b7b;
  font-family: Montserrat;

  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  margin-bottom: 1rem;
}
.answer-new p {
  font-size: 13px;
  color: #7b7b7b;
  font-family: Montserrat;

  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  margin-bottom: 1rem;
}
.w-60 {
  width: 60%;
}

li {
  list-style: inherit !important;
}
@media screen and (max-width: 425px) {
  .heading {
    font-size: 20px;
  }
}

.squestion-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
}
