<div class="booking-list favourite-workspace-c">
  <div class="container">
    <div class="booking-list-hrader-filters">
      <h2>Favorite workspaces</h2>
    </div>
    <div class="booking-all-list">
      <div class="booking-all-list-single" *ngFor="let spaceDetails of shortListReviewListOffset; let i = index">
        <div class="booking-all-list-single-img-cont">
          <a target="_blank" (click)="onSpaceNameClicked(spaceDetails)"
            class="booking-all-list-single-img cursor-pointer">
            <img loading="lazy" fetchpriority="low"
              [src]="(spaceDetails?.images[0])|| 'https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/details_placeholder_image.webp'"
              [alt]="spaceDetails.actual_name" [title]="spaceDetails.actual_name" (error)="handleImageError($event)"
              width="200" height="150" />
            <div class="booking-all-list-single-img-tag">
              <p>{{spaceDetails?.spaceType}}</p>
            </div>
          </a>
          <div class="booking-all-list-single-cont">
            <div class="booking-all-list-single-cont-od">
              <div class="booking-all-list-single-cont-od-heading">
                <h4 class="cursor-pointer" (click)="onSpaceNameClicked(spaceDetails)"> {{ spaceDetails.actual_name }}
                </h4>
                <div class="save-btn-c">
                  <a class="btn save-btn-custom" style="color: #F76900"
                    (click)="onRemoveFavourite(spaceDetails)"><app-icon name="heart"
                      class="w-4 text-orange-400"></app-icon>
                  </a>
                </div>
              </div>

              <p class="booking-all-list-single-cont-location">
                <app-icon name="location2" class="w-3 text-orange-400"></app-icon>
                <span> {{ spaceDetails.location_name }} </span>
              </p>
              <div class="booking-list-single-info  booking-list-single-about-info ">
                <div class=" booking-list-single-info-single" *ngIf="!spaceDetails?.isLongterm">
                  <app-icon name="userHalf" class="w-3 text-orange-400"></app-icon>
                  <p class="pl-1">{{spaceDetails?.howManyPeopleInYourSpace}} people</p>
                </div>
                <div class=" booking-list-single-info-single" *ngIf="spaceDetails?.isLongterm">
                  <app-icon name="userHalf" class="w-3 text-orange-400"></app-icon>
                  <p>{{spaceDetails?.spaceStatus}}</p>
                </div>
                <div class=" booking-list-single-info-single" *ngIf="spaceDetails?.isShortterm">
                  <app-icon name="clock" class="w-3 text-orange-400"></app-icon>
                  <p class="pl-1">2 hr min</p>
                </div>
                <div class="booking-list-single-info-single">
                  <app-icon name="scaleRuler" class="w-2 text-orange-400"></app-icon>
                  <p>{{spaceDetails?.spacesqft}} sqft</p>
                </div>
              </div>

            </div>

            <div class="description-all">
              <div class="description-single">
                <p> {{ spaceDetails.about.length > 260 && !is_see_more_visible[i] ? spaceDetails.about.slice(0, 260) +
                  '...' : spaceDetails.about }} </p>
              </div>
              <a *ngIf="!is_see_more_visible[i] && spaceDetails.about.length > 260"
                (click)="toggleSeeMore($event, i, true)" class="read-more-btn">Read More</a>
              <div class="description-single">
                <p *ngIf="is_see_more_visible[i]">{{ spaceDetails.about }}</p>
              </div>
              <a *ngIf="is_see_more_visible[i]" (click)="toggleSeeMore($event, i, false)" class="read-more-btn">See
                Less</a>
            </div>
          </div>

        </div>
      </div>
      <div class="work-space-review-heading">
        <h3 *ngIf="shortListReviewListOffset.length == 0">Favorite Workspaces not found..</h3>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="favourite-workspace-container">
  <h2>Favourite workspaces</h2>

  <div class="item-wrapper" style="margin-left: 20px;margin-right: 20px;">
    <div class="tab-content">
      <div id="grid-view" class="tab-pane active product-grid">
        <div class="row">
          <div class="col-lg-12 col-xl-4" *ngFor="let spaceDetails of shortListReviewListOffset; let i = index">
            <div class="trending-place-item">
              <div class="trending-img">
               
                <img
                        [src]="(spaceDetails?.images[0])|| 'https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/details_placeholder_image.webp'"
                        [alt]="spaceDetails.actual_name"
                    />
                <div class="shortlist-share-container">
                  <div class="share-btn" style="margin-right: 10px">
                    <a
                      class="btn"
                      style="color: #F76900"
                      (click)="onRemoveFavourite(spaceDetails)"
                      ><i class="ion-heart"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="trending-title-box">
                <div class="customer-review" style="margin-bottom: 0px">
                  <h2 class="h-cursor" style="font-size: 18px">
                    {{ spaceDetails.actual_name }}<span
                      style="
                        background: unset;
                        float: unset;
                        margin: unset;
                        width: unset;
                        height: unset;
                        font-size: 15px;
                      "
                      ><i
                        class="material-icons"
                        style="font-size: 14px; position: relative; top: 2px"
                        >location_on</i
                      >{{ spaceDetails.location_name }}</span
                    >
                  </h2>
                  <div class="d-flex align-items-center">
                    <ul class="product-rating-c d-flex">
                      <li class>
                        <i style="cursor: context-menu;" [ngClass]="{'fa': true, 'fa-star': spaceDetails?.rating >= 1, 'fa-star-half-o': spaceDetails?.rating > 0 && spaceDetails?.rating < 1, 'fa-star-o': spaceDetails?.rating <= 0}" aria-hidden="true"></i>
                      </li>
                      <li class>
                        <i style="cursor: context-menu;" [ngClass]="{'fa': true, 'fa-star': spaceDetails?.rating >= 2, 'fa-star-half-o': spaceDetails?.rating > 1 && spaceDetails?.rating < 2, 'fa-star-o': spaceDetails?.rating <= 1}" aria-hidden="true"></i>
                      </li>
                      <li class>
                        <i style="cursor: context-menu;" [ngClass]="{'fa': true, 'fa-star': spaceDetails?.rating >= 3, 'fa-star-half-o': spaceDetails?.rating > 2 && spaceDetails?.rating < 3, 'fa-star-o': spaceDetails?.rating <= 2}" aria-hidden="true"></i>
                      </li>
                      <li class>
                        <i style="cursor: context-menu;" [ngClass]="{'fa': true, 'fa-star': spaceDetails?.rating >= 4, 'fa-star-half-o': spaceDetails?.rating > 3 && spaceDetails?.rating < 4, 'fa-star-o': spaceDetails?.rating <= 3}" aria-hidden="true"></i>
                      </li>
                      <li class>
                        <i style="cursor: context-menu;" [ngClass]="{'fa': true, 'fa-star': spaceDetails?.rating >= 5, 'fa-star-half-o': spaceDetails?.rating > 4 && spaceDetails?.rating < 5, 'fa-star-o': spaceDetails?.rating <= 4}" aria-hidden="true"></i>
                      </li>
                    </ul>
                    <p style="padding-left: 10px;">{{reviewCount}} reviews</p>
                  </div>
                </div>
                <div class="description">
                  <h3 class="less-content" style="font-size: 12px">
                    {{ spaceDetails.about.length > 60 && !is_see_more_visible[i] ? spaceDetails.about.slice(0, 60) + '...' : spaceDetails.about }}
                  </h3>
                  <a
                    style="font-size: 12px; font-weight: 600; cursor: pointer"
                    *ngIf="!is_see_more_visible[i] && spaceDetails.about.length > 60"
                    (click)="toggleSeeMore($event, i, true)"
                    >Read More</a
                  >
                  <p *ngIf="is_see_more_visible[i]">{{ spaceDetails.about }}</p>
                  <a
                    style="font-size: 12px; font-weight: 600; cursor: pointer"
                    *ngIf="is_see_more_visible[i]"
                    (click)="toggleSeeMore($event, i, false)"
                    >See Less</a
                  >
                </div>
               
              </div>
            </div>
          </div>
          <div *ngIf="shortListReviewListOffset.length < favouriteWorkSpaceList.length"
            style="text-align: center; margin-top: 40px; margin-bottom: 20px; cursor: pointer;">
            <a (click)="nextReviewList()" class="link-hov style2 text-dark"
              style="border: 1px solid #ccc7c7; padding: 15px 20px; font-weight: 600;">See more spaces </a>
          </div>
        </div>
      </div>
      
      <div class="post-nav nav-res pad-bot-80">
        <div class="row">
          <div class="col-md-8 offset-md-2 col-xs-12">
            <div class="page-num text-center">
              <ul>
                <li
                  *ngFor="let num of pages"
                  [ngClass]="{ active: active_page == num }"
                  (click)="pagination(num)"
                >
                  <a>{{ num }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->