<div class="privacy-content">
  <section class="parallax-section" data-scrollax-parent="true">
    <div class="bg1 par-elem" data-scrollax="properties: { translateY: '30%' }" style="
        background-color: gray;
        transform: translateZ(0px) translateY(-4.22535%);
      "></div>
    <!-- <img class="bg1 par-elem " src="assets/images/Contact.jpg" alt=""
      style="transform: translateZ(0px) translateY(-4.22535%);"> -->
    <div class="privacy-container">
      <div class="col-md-8 offset-md-2 text-center">
        <h2 class="section-title v1" style="
            color: white;
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 0px;
            padding-bottom: 0px;
          ">
          CONTACT US
        </h2>
      </div>
    </div>
  </section>
  <section id="sec1">
    <div class="privacy-container">
      <div class="row">
        <div class="col-md-6">
          <div class="list-single-main-item fl-wrap">
            <div class="contact_txt" style="
                font-size: 40px;
                font-weight: 600;
                text-align: left;
                color: #000e54;
              ">
              Stop by and say hi. Or drop us a note if you need support
            </div>
            <div class="list-author-widget-contacts">
              <ul>
                <li>
                  <span style="font-size: 16px;"><app-icon name="mail" class="w-3 text-secondary"></app-icon> Mail
                    :</span>
                  <a href="#">hello&#64;flexospaces.com</a>
                </li>
              </ul>
            </div>
            <div class="list-widget-social">
              <ul>
                <li>
                  <a class="d-flex justify-content-center align-items-center"
                    href="https://www.facebook.com/flexospaces/ " target="_blank"><app-icon name="facebook"
                      class="w-4 text-white"></app-icon></a>
                </li>
                <li>
                  <a class="d-flex justify-content-center align-items-center" href="https://twitter.com/flexospaces"
                    target="_blank"><app-icon name="twitter" class="w-4 text-white"></app-icon></a>
                </li>
                <li>
                  <a class="d-flex justify-content-center align-items-center"
                    href="https://www.linkedin.com/company/flexospaces/" target="_blank"><app-icon name="linkedin2"
                      class="w-4 text-white"></app-icon></a>
                </li>
                <li>
                  <a class="d-flex justify-content-center align-items-center"
                    href="https://www.instagram.com/flexospaces/ " target="_blank"><app-icon name="instagram"
                      class="w-4 text-white"></app-icon></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-single-main-wrapper fl-wrap">
            <!--<div class="list-single-main-item-title fl-wrap">
                          <h3>Our Location</h3>
                      </div>
                      <div class="map-container">
                          <div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
                          </div>-->
            <div class="list-single-main-item-title-1 fl-wrap">
              <h3>Get In Touch</h3>
            </div>
            <div id="contact-form">
              <div id="message" style="color: green; font-size: 14px"></div>
              <form class="custom-form contact_form" name="contactform" id="contactform">
                <fieldset>
                  <div class="position-relative">
                    <label class="form_icon"><app-icon name="user2" class="w-3 text-orange-400"></app-icon></label>
                    <input type="text" [(ngModel)]="name" name="name" id="name" placeholder="Your Name *" value="" />
                  </div>
                  <div class="position-relative">
                    <label class="form_icon"><app-icon name="mail" class="w-3 text-orange-400"></app-icon></label>
                    <input type="text" [(ngModel)]="email" name="email" id="email" placeholder="Email Address*"
                      value="" />
                  </div>
                  <div class="position-relative">
                    <label class="form_icon"><app-icon name="phone" class="w-3 text-orange-400"></app-icon></label>
                    <input type="text" [(ngModel)]="mobile" id="mobile" name="mobile" placeholder="Mobile*" value="" />
                  </div>
                  <div class="position-relative">
                    <textarea name="message" id="comments" [(ngModel)]="message" cols="40" rows="3"
                      placeholder="Your Message:"></textarea>
                  </div>
                </fieldset>
                <div style="margin-top: 30px" class="g-recaptcha"
                  data-sitekey="6LdLZPYUAAAAAGtV5MJGckeEK8bas61UpzlO7hRp"></div>
                <!-- <button class="flat-btn" id="submit">Send&nbsp;<i class="fa fa-angle-right"></i></button> -->
                <button type="button" class="large-btn" (click)="submit()"
                  style="border-radius: 5px; font-size: 18px; min-width: 180px; border-color: #fff;" id="submit">
                  Send <span class=""><app-icon name="rightLongArrow" class="w-5 text-white"></app-icon></span>
                </button>
              </form>
            </div>
            <!-- contact form  end-->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>