<div class="loader_circle">
  <span class="loader" *ngIf="isloader"></span>
</div>
<div [ngClass]="_showMap ? 'filter-wrapper style1 mar-top-100 half-map' : 'mt-70'">
  <div class="container-fluid position-relative city_google_drop" style="z-index: 99;">
    <div class="row">
      <div class="col-lg-8 col-md-12" [class.col-lg-12]="!_showMap">
        <filter-item [isMobile]="isMobile" [city_name]="city_param" find_near_me="0" area_name="0" is_city="true"
          [filter]="filter" [nearByLocations]="nearBySpaces.asObservable()"
          (filterItemEvent)="openFiltersDialog($event)" (showMap)="showHideMap($event)">
        </filter-item>
        <div class="row pad-bot-10 align-items-center">
          <div class="col-lg-12 col-sm-12 col-12">
            <div class="item-element res-box text-right xs-left" *ngIf="shimming">
              <div style="float: center">
                <app-shimmer-loading [borderRadius]="'5px'" [width]="'35%'" [height]="'30px'"></app-shimmer-loading>
              </div>
            </div>
            <div class="item-element res-box text-right xs-left" *ngIf="spaces_list.length">
              <p *ngIf="page_start !== page_end">
                Showing
                <span>{{ page_start }}-{{ page_end }} of {{ space_count }}</span>
                Listings
              </p>
              <p *ngIf="page_start == page_end">
                Showing
                <span>{{ page_start }} of {{ space_count }}</span> Listings
              </p>
            </div>
          </div>
        </div>
        <div class="item-wrapper">
          <div class="tab-content flex-shimmer" *ngIf="shimming">
            <div>
              <app-shimmer-loading [borderRadius]="'5px'" [width]="'100%'" [height]="'480px'"></app-shimmer-loading>
            </div>
            <div>
              <app-shimmer-loading [borderRadius]="'5px'" [width]="'100%'" [height]="'480px'"></app-shimmer-loading>
            </div>
          </div>
          <div style="text-align: center;" *ngIf="!spaces_list.length && !recommended_spaces.length && !isloader">
            <!-- <img style="width: 10%;" src="../../https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/not-found.webp" alt=""> -->
            <img style="width: 10%;" src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/preloader.gif"
              alt="location" title="location" class="ratio-1x1" />
            <h3 style="font-size: 16px !important;color: #897777 !important;">Finding the best options for you. Stay
              tuned!</h3>
          </div>
          <div class="tab-content" *ngIf="
              spaces_list.length
            ">

            <div id="grid-view" class="tab-pane active product-grid">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12" *ngFor="let element of spaces_list"
                  [ngClass]="!_showMap ? 'col-xl-4' : 'col-xl-6'">
                  <app-list-item [spaceDetails]="element" [isMobile]="isMobile" [filters]="filter"
                    [is_similar_listing]="false" (shortlistItemEvent)="shortList($event)"
                    (mouseover)="onHoverSpace(element.id)" (mouseleave)="onLeaveSpace(element.id)">
                  </app-list-item>
                </div>
              </div>
            </div>
            <!--pagination starts-->
            <div class="post-nav nav-res pad-bot-80">
              <div class="row">
                <div class="col-md-8 offset-md-2 col-xs-12">
                  <div class="page-num text-center">
                    <ul>
                      <li *ngFor="let num of pages" [ngClass]="{ active: active_page == num }"
                        (click)="pagination(num)">
                        <a>{{ num }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content" *ngIf="recommended_spaces?.length">
            <div id="grid-view" class="tab-pane active product-grid">
              <span style="display: flex; justify-content: center">
                <p style="font-size: 30px; text-align: center">
                  We are adding more spaces.
                  <a class="static-page-links" routerLink="/contact">Join our mailing list</a>
                  to get an update as we add spaces to your location.
                </p>
              </span><br />
              <div class="row">
                <div [ngClass]="!_showMap ? 'col-xl-4' : 'col-xl-6'" *ngFor="let element of recommended_spaces">
                  <app-list-item [spaceDetails]="element" [filters]="filter" [is_similar_listing]="false"
                    (shortlistItemEvent)="shortList($event)">
                  </app-list-item>
                </div>
              </div>
            </div>
          </div>

          <div class="row desktop-button-fixed-container col-lg-7 col-md-12" *ngIf="staticValue == 'Longterm'">
            <div class="col-md-7 desktop_content_btm">
              <span><i class="ion-checkmark"></i>&nbsp;Our service is
                <strong>FREE</strong></span><span><i class="ion-checkmark"></i>&nbsp;We help secure the
                <strong>best deal</strong></span>
            </div>
            <div class="col-md-5 desk_btn">
              <a (click)="openInquiryPopUp()" class="large-btn" style="font-size: 14px">FIND MY PERFECT OFFICE NOW</a>
              <!-- [routerLink]="'/contact-form/' + city_param?.replace(' ', '-')" -->
            </div>
          </div>
        </div>
      </div>
      <div class="explore__map-side goole_map_1 col-lg-4" [class.d-none]="!_showMap || isFaqsVisible" [@inOutAnimation]>
        <div id="map_right_listing" #map_section>
          <google-map height="100%" width="100%" [zoom]="zoom" [center]="center" [options]="options">
            <map-marker #mapMarker="mapMarker" *ngFor="let marker of markersData" [position]="marker.position"
              [title]="marker.title" [options]="marker.options"
              (mapClick)="openMapInfoWindow(mapMarker, marker.info)"></map-marker>

            <map-info-window>
              <div (click)="onSpaceNameClicked(selected_marker_window)" style="cursor: pointer;" id="marker_info">
                <span class="map_wishlist"
                  [style.color]="selected_marker_window?.existingfavorite?.favourite ? '#F76900' : 'gray'"><i
                    (click)="shortList(selected_marker_window,$event)" class="ion-heart scale_2"></i></span>
                <!-- <img [src]="selected_marker_window?.map_image_url" alt="" (error)="handleImageError($event)" width="320"/> -->
                <div class="position-relative max-width" style="min-width: 100%;">
                  <ngx-slick-carousel class="carousel" #slickMainCarousel="slick-carousel" [config]="mainSliderConfig"
                    responsive="breakpoints">
                    <ng-container *ngIf="selected_marker_window?.images?.length">
                      <div *ngFor="let image of selected_marker_window?.images" ngxSlickItem
                        class="swiper-slide single-listing-slider slide">
                        <a style="cursor: pointer;">
                          <img [src]="image" (error)="handleImageError($event)" />
                        </a>
                      </div>
                    </ng-container>
                    <ng-container *ngFor="let repeat of getArray(selected_marker_window?.images?.length)">
                      <div *ngIf="!selected_marker_window?.images?.length" ngxSlickItem
                        class="swiper-slide single-listing-slider slide">
                        <a style="cursor: pointer;">
                          <img
                            src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/details_placeholder_image.webp" />
                        </a>
                      </div>
                    </ng-container>
                  </ngx-slick-carousel>
                  <a class="carousel-control-prev cursor-pointer" role="button" data-slide="prev"
                    (click)="prev($event)">
                    <span class="icon ion-chevron-left icon-color"></span>
                  </a>
                  <a class="carousel-control-next cursor-pointer" role="button" data-slide="next"
                    (click)="next($event)">
                    <span class="icon ion-chevron-right icon-color"></span>
                  </a>
                </div>
                <div class="info_window_content">
                  <div class="row align-items-center justify-content-between">
                    <div [ngClass]="selected_marker_window?.rating ? 'col-8 pr-0' : 'col-12'">
                      <h5 class="m-0" [ngClass]="selected_marker_window?.rating && 'text-truncate'"
                        [title]="selected_marker_window?.name">{{selected_marker_window?.name}}</h5>
                    </div>
                    <div *ngIf="selected_marker_window?.rating && selected_marker_window?.reviewCount.length > 0"
                      class="col-4 pl-0 text-right ">
                      <h5 class="m-0 text-truncate"> <i class="ion ion-star"></i>{{selected_marker_window?.rating}}
                        ({{selected_marker_window?.reviewCount}})</h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mb-1" style="gap: 22px;">
                    <div *ngIf="mapType === 'coworking' || mapType === 'shortterm'">
                      <i class="fa fa-user" style="color: #f76900;"></i>
                      &nbsp;{{selected_marker_window?.howManyPeopleInYourSpace}} people
                    </div>
                    <div *ngIf="mapType === 'longterm'">
                      <i class="fa-solid fa-house" style="color: #f76900;"></i> {{selected_marker_window?.spaceStatus}}
                    </div>
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="18"
                        viewBox="0 0 24 24" width="18" style="fill: #f76900;vertical-align: sub;">
                        <path d="m0 0h24v24h-24z" fill="none" />
                        <path
                          d="m17.66 17.66-1.06 1.06-.71-.71 1.06-1.06-1.94-1.94-1.06 1.06-.71-.71 1.06-1.06-1.94-1.94-1.06 1.06-.71-.71 1.06-1.06-1.95-1.95-1.06 1.06-.71-.71 1.06-1.06-1.94-1.94-1.06 1.06-.71-.71 1.06-1.06-2.34-2.34v14c0 1.1.9 2 2 2h14zm-10.66-.66v-5.76l5.76 5.76z" />
                      </svg>{{selected_marker_window?.spacesqft}} sqft
                    </div>
                  </div>
                  <div class="d-flex mt-2" style="gap:30px;align-items: baseline;">
                    <div *ngIf="mapType === 'shortterm' || mapType === 'longterm'">
                      <div class="m-0">
                        <img src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/rs-icon.webp"
                          class="rs_icon" alt="">
                        <span class="price-value">{{selected_marker_window?.originalPrice}}</span>
                        <span> / {{mapType === 'shortterm' ? 'hour' : 'month' }}</span>
                      </div>
                    </div>
                    <div *ngIf="selected_marker_window?.isInstant && mapType === 'shortterm'">
                      <i class="fa fa-bolt bolt_icon"></i><span class="instant_back p-1 text-dark">Instant Book</span>
                    </div>
                    <div
                      *ngIf="selected_marker_window?.spaceStatus?.toLowerCase() === 'furnished' && mapType === 'longterm'">
                      <span class="status_back p-1 text-white"> {{selected_marker_window?.spaceStatus}}</span>
                    </div>
                  </div>
                  <div *ngIf="mapType === 'coworking'">
                    <div class="m-0">
                      <img src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/rs-icon.webp" class="rs_icon"
                        alt="">
                      <span *ngIf="selected_marker_window.flexible_desk_price !== null"
                        class="price-value">{{selected_marker_window?.privatecabin_price >
                        selected_marker_window.flexible_desk_price ? selected_marker_window.flexible_desk_price:
                        selected_marker_window.privatecabin_price }}</span>
                      <span *ngIf="selected_marker_window.flexible_desk_price == null"
                        class="price-value">{{selected_marker_window?.privatecabin_price}}</span>
                      <small> / seat / month</small>
                    </div>
                  </div>
                </div>
              </div>
            </map-info-window>
          </google-map>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngIf="isMobile" class="bottom-fixed-container">
    <div class="find-office-container">
      <p class="booking-text">
        <i class="ion-checkmark"></i>&nbsp;Our service is <span>FREE</span>.
      </p>
      <p class="booking-text">
        <i class="ion-checkmark"></i>&nbsp;We help you secure the
        <span>best deals</span>.
      </p>
    </div>
    <div
      class="book-btn text-center bottom-fixed-button"
      style="margin-top: 3px"
    >
      <a
        style="font-size: 14px"
        [routerLink]="'/contact-form/' + city_param?.replace(' ', '-')"
        >FIND MY PERFECT OFFICE NOW</a
      >
    </div>
  </div> -->
  <app-faqs [showMap]="_showMap" #faqsChild inViewport [spaceType]="spaceType" [cityName]="city_param"
    [location]="areaName" [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection($event)"></app-faqs>
</div>

<div class="mobile_btm_bar py-3 px-3 "
  *ngIf="['coworking space', 'managed office', 'private office', 'shared office', 'virtual office'].includes(spaceType)">
  <ul class="p-0 m-0 socail_btn_list d-flex align-items-center justify-content-between">
    <li>
      <a (click)="openInquiryPopUp()" style="color: #ffffff;">
        <svg stroke="currentColor" class="svgIconBottom" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
          height="48px" width="48px" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M644.7 669.2a7.92 7.92 0 0 0-6.5-3.3H594c-6.5 0-10.3 7.4-6.5 12.7l73.8 102.1c3.2 4.4 9.7 4.4 12.9 0l114.2-158c3.8-5.3 0-12.7-6.5-12.7h-44.3c-2.6 0-5 1.2-6.5 3.3l-63.5 87.8-22.9-31.9zM688 306v-48c0-4.4-3.6-8-8-8H296c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h384c4.4 0 8-3.6 8-8zm-392 88c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h184c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8H296zm184 458H208V148h560v296c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8V108c0-17.7-14.3-32-32-32H168c-17.7 0-32 14.3-32 32v784c0 17.7 14.3 32 32 32h312c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm402.6-320.8l-192-66.7c-.9-.3-1.7-.4-2.6-.4s-1.8.1-2.6.4l-192 66.7a7.96 7.96 0 0 0-5.4 7.5v251.1c0 2.5 1.1 4.8 3.1 6.3l192 150.2c1.4 1.1 3.2 1.7 4.9 1.7s3.5-.6 4.9-1.7l192-150.2c1.9-1.5 3.1-3.8 3.1-6.3V538.7c0-3.4-2.2-6.4-5.4-7.5zM826 763.7L688 871.6 550 763.7V577l138-48 138 48v186.7z">
          </path>
        </svg>
        <div>QUOTES</div>
      </a>
    </li>
    <li>
      <a href="https://api.whatsapp.com/send/?phone=919136153810&text=Hi&type=phone_number&app_absent=0">
        <svg stroke="currentColor" class="svgIconBottom" fill="currentColor" stroke-width="0" viewBox="0 0 448 512"
          height="45px" width="45px" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z">
          </path>
        </svg>
        <div>WHATSAPP</div>
      </a>
    </li>
    <li>
      <a style="color: white;" (click)="loadZohoScript2()">
        <svg stroke="currentColor" class="svgIconBottom" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
          height="45px" width="45px" xmlns="http://www.w3.org/2000/svg">
          <path fill="none" stroke-linejoin="round" stroke-width="32"
            d="M408 64H104a56.16 56.16 0 0 0-56 56v192a56.16 56.16 0 0 0 56 56h40v80l93.72-78.14a8 8 0 0 1 5.13-1.86H408a56.16 56.16 0 0 0 56-56V120a56.16 56.16 0 0 0-56-56z">
          </path>
          <circle cx="160" cy="216" r="32"></circle>
          <circle cx="256" cy="216" r="32"></circle>
          <circle cx="352" cy="216" r="32"></circle>
        </svg>
        <div>CHAT</div>
      </a>
    </li>
    <li>
      <a href="tel:+91 95133 92400">
        <svg stroke="currentColor" class="svgIconBottom" fill="none" stroke-width="2" viewBox="0 0 24 24"
          stroke-linecap="round" stroke-linejoin="round" height="42px" width="42px" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
          </path>
        </svg>
        <div>CALL</div>
      </a>
    </li>
  </ul>
</div>