<a class="call_icon">
  <app-icon name="call" class="w-3 text-white"></app-icon>
  <span class="call_icon_tooltip">+91 95133 92400</span>
</a>

<a href="https://api.whatsapp.com/send/?phone=919136153810&text=Hi&type=phone_number&app_absent=0"
  class="float whatsapp_icons" target="_blank">
  <app-icon name="whatsapp" class="w-6 text-white"></app-icon>
</a>

<div class="page-wrapper">
  <!--header starts-->
  <header class="header transparent scroll-hide">
    <!--Main Menu starts-->
    <div class="site-navbar-wrap v2">
      <div class="container">
        <div class="site-navbar">
          <div class="row align-items-center">
            <div class="col-md-2 col-6">
              <a class="navbar-brand" routerLink="/"><img loading="lazy" fetchpriority="low"
                  src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/logo.webp" width="130" height="37"
                  alt="logo" title="logo" class="img-fluid logo-top" /></a>
            </div>
            <div class="col-md-10 col-6">
              <nav class="site-navigation float-right">

                <ul class="site-menu d-none d-lg-block">
                  <!-- <li class="has-no-children">
                      <a routerLink="/enterprise">Enterprise Solutions</a>
                    </li> -->
                  <!-- <li class="has-no-children">
                      <a routerLink="/joy-of-giving">Joy Of Giving</a>
                    </li> -->
                  <!-- <li class="has-no-children">
                      <a routerLink="/my-shortlists">My Shortlist</a>
                    </li> -->
                  <!-- <li class="has-no-children" *ngIf="!isMobile">
                      <a href="tel:+91 95133 92400" class=""><span class="ion-android-call call_btn"></span>&nbsp;9513392400</a>
                    </li> -->
                  <li class="has-no-children">
                    <a routerLink="/list-with-us" class="header_btn">List Your Space</a>
                  </li>
                  <li class="has-no-children" style="cursor: pointer;" (click)="openLoginDialog()"
                    *ngIf="!isLoggedIn && !userDetails?.firstName">
                    <a class="login_btn"><app-icon name="logIn" class="text-orange-400 w-5"></app-icon> <span
                        class="pl-1">Sign In</span></a>
                  </li>
                  <li class="has-no-children" style="cursor: pointer;" *ngIf="isLoggedIn || userDetails?.firstName">
                    <div class="dropdown">
                      <button class="li-drp-btn" data-toggle="dropdown" type="button" aria-expanded="true"
                        (click)="onMenueOpenClose()" [title]="userDetails?.name"> <app-icon name="user"
                          class="w-2 text-white"></app-icon> </button>
                      <ul id="myDropdown" class="dropdown-menu userInfoMenu" data-toggle="collapse"
                        aria-expanded="false" data-target="#bs-example-navbar-collapse-2" style="width: 250px;">
                        <li *ngFor="let sbl of sideBarList" data-toggle="collapse" aria-expanded="true">
                          <a [routerLink]="sbl.page">{{sbl.title}}</a>
                        </li>
                        <li class="li-drp-btn-logout" (click)="logout();onMenueOpenClose();"> <a>Logout</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>

              </nav>
              <div class="d-lg-none sm-right mobile-nav-icons d-flex align-items-center" style="gap:15px">
                <li> <a href="tel:+91 95133 92400" class="mobile-bar"><span class=""><app-icon name="call"
                        class="w-3 text-dark"></app-icon></span>
                  </a></li>
                <li><a routerLink="/list-with-us" class="mobile-bar"><span class=""><app-icon name="homePlus"
                        class="w-5 text-dark"></app-icon></span>
                  </a></li>
                <li class="has-no-children" style="cursor: pointer;" *ngIf="isLoggedIn || userDetails?.firstName">
                  <div class="dropdown">
                    <button class="bg-transparent border-0 p-0 mobile-bar" data-toggle="dropdown" type="button"
                      aria-expanded="true" (click)="onMenueOpenClose2()" [title]="userDetails?.name"> <span
                        class=""><app-icon name="user" class="w-3 text-dark"></app-icon></span> </button>
                    <ul id="myDropdown2" class="dropdown-menu userInfoMenu" data-toggle="collapse" aria-expanded="false"
                      data-target="#bs-example-navbar-collapse-2" style="width: 250px;">
                      <li *ngFor="let sbl of sideBarList" data-toggle="collapse" aria-expanded="true">
                        <a [routerLink]="sbl.page">{{sbl.title}}</a>
                      </li>
                      <li class="li-drp-btn-logout" (click)="logout();onMenueOpenClose();"> <a>Logout</a></li>
                    </ul>
                  </div>
                </li>
                <a *ngIf="!isLoggedIn || !userDetails?.firstName" class="" (click)="openLoginDialog()">
                  <app-icon name="logOut" class="w-6 text-dark"></app-icon>
                </a>
              </div>
              <!-- <div class="add-list float-right">
                <a class="btn v8" href="add-listing.html">Add Listing <i class="ion-plus-round"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        <!--mobile-menu starts -->
        <div class="site-mobile-menu">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close js-menu-toggle">
              <span class="ion-ios-close-empty"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body">
            <ul class="site-menu d-lg-block">
              <!-- <li class="has-no-children js-menu-toggle">
                <a routerLink="/enterprise">Enterprise Solutions</a>
              </li>
              <li class="has-no-children js-menu-toggle">
                <a routerLink="/joy-of-giving">Joy Of Giving</a>
              </li>
              <li class="has-no-children js-menu-toggle">
                <a routerLink="/list-with-us">List With Us</a>
              </li> -->
              <li class="has-no-children js-menu-toggle" (click)="openLoginDialog()"
                *ngIf="!isLoggedIn && !userDetails">
                <a class="custum-btnFlogi">Login/Register</a>
              </li>
              <!-- <li *ngIf="isLoggedIn && userDetails" class="has-no-children js-menu-toggle" (click)="logout();onMenueOpenClose();"> 
                <a routerLink="/">Logout</a>
              </li> -->
            </ul>
          </div>
        </div>
        <!--mobile-menu ends-->
      </div>
    </div>
    <!--Main Menu ends-->
  </header>
  <div class="other-block">
    <router-outlet></router-outlet>
  </div>
  <!-- <div  [ngClass]="isLoggedIn ? 'main other-block' : 'other-block'">
    <router-outlet></router-outlet>
  </div> -->
  <!-- <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span> -->
  <div class="footer-wrapper no-pad-tb v2" style="
      margin-top: 10px;

      position: absolute;
      min-width: 100vw;
    ">
    <div class="footer-top-area section-padding">
      <div class="container">
        <div class="row ">
          <div class="col-lg-3 col-md-4">
            <div class="footer-content nav">
              <ul class="list">
                <li>
                  <a class="link-hov style2" routerLink="/enterprise">
                    <h4>Enterprise Solutions</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/joy-of-giving">
                    <h4>Joy Of Giving</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/list-with-us">
                    <h4>List With Us</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/enterprise">
                    <h4>Flexo For Enterprises</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/contact">
                    <h4>Contact Us</h4>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="footer-content nav">
              <ul class="list">
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/mumbai">
                    <h4>Coworking Space in Mumbai</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/pune">
                    <h4>Coworking Space in Pune</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/bengaluru">
                    <h4>Coworking Space in Bangalore</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/hyderabad">
                    <h4>Coworking Space in Hyderabad</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/new-delhi">
                    <h4>Coworking Space in Delhi</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/navi-mumbai">
                    <h4>Coworking Spaces in Navi Mumbai</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/panaji">
                    <h4>Coworking Space in Panaji Goa</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/vadodara">
                    <h4>Coworking Space in Vadodara</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking-space/mumbai/lower-parel">
                    <h4>Coworking Space in Lower Parel</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking-space/mumbai/bandra-kurla-complex">
                    <h4>Coworking Space in BKC</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking-space/mumbai/andheri-east">
                    <h4>Coworking Space in Andheri</h4>
                  </a>
                </li>

              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="footer-content nav">
              <ul class="list">
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/ahmedabad">
                    <h4>Coworking Space in Ahmedabad</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/chandigarh">
                    <h4>Coworking Space in Chandigarh</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/noida">
                    <h4>Coworking Space in Noida</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/gurgaon">
                    <h4>Coworking Space in Gurgaon</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/indore">
                    <h4>Coworking Space in Indore</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/chennai">
                    <h4>Coworking Space in Chennai</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/kochi">
                    <h4>Coworking Space in Kochi</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/lucknow">
                    <h4>Coworking Space in Lucknow</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/surat">
                    <h4>Coworking Space in Surat</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/kolkata">
                    <h4>Coworking Space in Kolkata</h4>
                  </a>
                </li>
                <li>
                  <a class="link-hov style2" routerLink="/in/coworking/coimbatore">
                    <h4>Coworking Space in Coimbatore</h4>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-12">
            <div class="footer-content nav mt-lg-0 mt-md-4 mt-4">
              <h4 class="title margin-block mt-0">Follow us on</h4>
              <!-- <ul class="list footer-list"> -->
              <!-- <li>
                  <div class="contact-info">
                    <div class="icon">
                      <i class="ion-ios-location"></i>
                    </div>
                    <div class="text">
                      Join our mailing list to receive offers, discounts,
                      promotions, event invites, updates and other awesome
                      stuff.
                    </div>
                  </div>
                </li> -->
              <!-- 
                <li>
                  <div class="contact-info"> -->
              <!-- <div class="icon">
                      <i class="ion-ios-telephone"></i>
                    </div> -->
              <!-- <form id="subscribe"> -->
              <!-- <mat-form-field appearance="outline" style="width: 285px">
                        <mat-label>Enter Email</mat-label>
                        <input name="email" id="subscribe-email" matInput placeholder="Email" required />
                      </mat-form-field>
                      <button type="submit" class="btn large-btn mar-top-10 subscribe-button" id="subscribe-button">
                        Subscribe
                      </button> -->
              <!-- <button type="submit" id="subscribe-button" class="subscribe-button"><i
                              class="fa fa-rss"></i> Subscribe</button> -->
              <!-- <label for="subscribe-email" class="subscribe-message"></label> -->
              <!-- </form> -->

              <!-- <input class="enteremail" name="email" id="subscribe-email" placeholder="Email"
                    spellcheck="false" type="text"> -->
              <!-- </div>
                </li>
              </ul> -->
              <ul class="social-buttons style2">
                <li>
                  <a href="https://www.facebook.com/flexospaces/"><app-icon name="facebook"
                      class="w-5 text-orange-400"></app-icon></a>
                </li>
                <li>
                  <a href="https://twitter.com/flexospaces"><app-icon name="twitter"
                      class="w-5 text-orange-400"></app-icon></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/flexospaces/"><app-icon name="linkedin"
                      class="w-5 text-orange-400"></app-icon></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/flexospaces/"><app-icon name="instagram"
                      class="w-5 text-orange-400"></app-icon></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row align-items-center">
          <!-- <div class="col-md-6">
            <div class="payment-method">
              <img src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/payment/payment-1.webp" alt="...">
              <img src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/payment/payment-2.webp" alt="...">
              <img src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/payment/payment-3.webp" alt="...">
            </div>
          </div> -->
          <div class="col-lg-6 col-md-6">
            <div class="footer-logo">
              <a routerLink="/">
                <img loading="lazy" fetchpriority="low"
                  src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/logo.webp" alt="footer logo"
                  title="footer logo" width="115" height="33" /></a>
            </div>
          </div>
          <div class="col-md-6 text-right sm-left">
            <ul class="additional-link">
              <li><a routerLink="/terms-conditions">Terms Of Use</a></li>
              <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
              <li><a routerLink="/refund-policy">Refund Policy</a></li>
              <li>Copyright Flexo Proptech Pvt Ltd 2025. All Rights Reserved.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>