<div class="booking-list">
    <div class="container">
        <div class="row booking-list-hrader-filters">
            <div class="col-lg-5 col-md-12 col-12 ">
                <div class="booking-list-tabs">
                    <a (click)="getBookings('allBooking')" class="booking-list-tabs-single"
                        [ngClass]="bookingType=='allBooking'?'active-tabs':''">
                        All Booking
                    </a>
                    <a (click)="getBookings('pastBooking')" class="booking-list-tabs-single"
                        [ngClass]="bookingType=='pastBooking'?'active-tabs':''">
                        Past Booking
                    </a>
                    <a (click)="getBookings('upcomingBooking')" class="booking-list-tabs-single"
                        [ngClass]="bookingType=='upcomingBooking'?'active-tabs':''">
                        Upcoming Booking
                    </a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-12">
                <div class="booking-list-filter">
                    <mat-form-field appearance="fill" class="w-100">
                        <!-- <mat-label>Enter a date</mat-label>   -->
                        <mat-date-range-input [rangePicker]="picker" class="align-items-center">
                            <input [(ngModel)]="startDate" (dateChange)="dateRangeChange();" (click)="picker.open()"
                                matStartDate placeholder="Start date">
                            <input [(ngModel)]="endDate" (click)="picker.open()" (dateChange)="dateRangeChange();"
                                matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <select placeholder="Space Type" [(ngModel)]="spaceType" (ngModelChange)="getBookingList();"
                        class="booking-list-filter-single w-100">
                        <option value="" selected> Select Space Type </option>
                        <option value="{{data?.workSpaceName}}" *ngFor="let data of workSpace">{{data?.workSpaceName}}
                        </option>
                    </select>
                    <select [(ngModel)]="bookingStatus" (ngModelChange)="getBookingList();" placeholder="Space Status"
                        class="booking-list-filter-single w-100 mt-md-0 mt-3 ">
                        <option value="" selected> Select Booking Status </option>
                        <option value="confirmed">Confirmed</option>
                        <option value="pending_Host_Confirmation">Pending Host Confirmation</option>
                        <option value="pending_payment"> Pending payment</option>
                        <option value="cancelled">Cancelled</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="booking-all-list">
            <div class="booking-all-list-single" *ngFor="let data of bookingList">
                <div class="booking-all-list-single-img-cont">
                    <div class="booking-all-list-single-img">
                        <h5>{{linkName}}</h5>
                        <a target="_blank" [href]=" webDomain + 'details/' + data?.linkName ">
                            <img loading="lazy" fetchpriority="low"
                                src="{{data?.images[0] ?? 'https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/details_placeholder_image.webp' }} "
                                [alt]="data?.spaceName" [title]="data?.spaceName" width="200" height="150" />
                        </a>
                        <div class="booking-all-list-single-img-tag">
                            <p>{{data?.spaceType}}</p>
                        </div>
                    </div>
                    <div class="booking-all-list-single-cont">
                        <div class="booking-all-list-single-cont-od">
                            <h4>{{data?.spaceName}}</h4>
                            <p class="booking-all-list-single-cont-location">
                                <app-icon name="location2" class="w-4 text-orange-400"></app-icon>
                                <span>{{data?.location_name}} </span>
                            </p>
                            <div class="booking-list-single-info  booking-list-single-about-info ">
                                <!-- <div class=" booking-list-single-info-single">
                                   <img src="https://flexospaces-images.s3.ap-south-1.amazonaws.com/img/user-icon-orng.webp" alt="">
                                    <p>{{data?.howManyPeopleInYourSpace || 1}} people</p>
                                </div> -->
                                <div *ngIf="data?.spaceType != 'Coworking Space'"
                                    class=" booking-list-single-info-single">
                                    <app-icon name="clock" class="w-3 text-orange-400"></app-icon>
                                    <p class="pl-1">{{(data.minimum_hours == 0 || data.minimum_hours == null) ? 2 :
                                        data.minimum_hours/60}} hrs min</p>
                                </div>
                                <div class="booking-list-single-info-single">
                                    <app-icon name="scaleRuler" class="w-2 text-orange-400"></app-icon>
                                    <p class="pl-1">{{data?.spacesqft}} sqft</p>
                                </div>
                            </div>

                        </div>

                        <div class="booking-all-list-single-cont-bd">
                            <div class="booking-list-single-info booking-list-single-date-info ">
                                <div class="booking-list-single-info-single">
                                    <app-icon name="calender" class="w-3 text-orange-400"></app-icon>
                                    <p class="pl-1">{{data?.startDate | date : 'dd-MM-YYYY'}}</p>
                                </div>
                                <div class="watch-time booking-list-single-info-single">
                                    <p> <span> {{data?.ofDays|| data?.dayCount}}</span> Days</p>
                                </div>
                                <div class="sq-ft booking-list-single-info-single">
                                    <p> <span> {{data?.spaceType == 'Coworking Space' ? data?.noOfGuest || 1 :
                                            data?.totalHours || 2}} </span> {{ data?.spaceType == 'Coworking Space' ?
                                        'Guest' : 'hrs'}}</p>
                                </div>
                            </div>
                            <div class="booking-list-single-info booking-list-single-confirm-info">
                                <div class=" booking-list-single-info-single">
                                    <p>Booking Status : </p>
                                </div>
                                <div class="booking-list-single-info-single booking-confirm"
                                    *ngIf="(data?.bookingStatus=='confirmed' || data?.bookingStatus=='confirm') && data?.paymentSuccess==1">
                                    <app-icon name="checkFill" class="w-5 text-green-600"></app-icon>
                                    <p class="pl-1">Confirmed</p>
                                </div>
                                <div class="booking-list-single-info-single booking-cancel"
                                    *ngIf="data?.bookingStatus=='cancelled'">
                                    <app-icon name="cancel" class="w-5 text-red-600"></app-icon>
                                    <p>Canceled</p>
                                </div>
                                <div class="booking-list-single-info-single booking-cancel"
                                    *ngIf="data?.bookingStatus=='rejected'">
                                    <app-icon name="cancel" class="w-5 text-red-600"></app-icon>
                                    <p>Rejected</p>
                                </div>
                                <div class="booking-list-single-info-single booking-waiting"
                                    *ngIf="(data?.bookingStatus=='pending' || (data?.bookingStatus=='confirmed' && data?.paymentSuccess==0))">
                                    <app-icon name="warning" class="w-5 text-blue-600"></app-icon>
                                    <p *ngIf="data?.bookingStatus=='confirmed' && data?.paymentSuccess==0">Pending
                                        Payment</p>
                                    <p *ngIf="data?.bookingStatus=='pending' && data?.isInstant=='0'">Pending Host
                                        Confirmation</p>
                                    <p *ngIf="data?.bookingStatus=='pending' && data?.isInstant=='1'">Waiting</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="booking-all-list-single-btn">
                    <button *ngIf="data?.bookingStatus == 'confirmed'" (click)="openAddReviewDialog(data?.spaceId)"
                        type="button" class="custum-btn outline-orng-btn"> Leave a Review </button>
                    <button style="background: #fff  !important; color: #000e54 !important;"
                        *ngIf="data?.bookingStatus == 'confirmed'" (click)="getUserInvoiceByBookingId(data?.id)"
                        type="button" class="custum-btn blu-btn "> <app-icon name="cloudDownload"
                            class="w-4 text-blue-800"></app-icon> Invoice </button>
                    <button style="background: #2c864f; border: none !important;" type="button"
                        routerLink="/booking-Detail/{{data?.id}}" class="custum-btn boking_btn">Booking Details
                        <app-icon name="rightArrow" class="w-3 text-white"></app-icon> </button>
                </div>
            </div>
            <div class="work-space-review-heading">
                <h3 *ngIf="bookingList.length == 0">Booking not found..</h3>
            </div>
        </div>
    </div>
</div>