<ngx-json-ld [json]="schema"></ngx-json-ld>

<div *ngIf="selectedRadio" class="form-group filter-group">
  <h1 class="heading" *ngIf="area_name == 0 && show && selectedRadio != 'Co-working'">
    {{selectedRadio }} in {{nearByLocation && nearByLocation + ', ' | titlecase}}{{ city_name | titlecase }}
  </h1>
  <h1 class="heading" *ngIf="area_name == 0 && show && selectedRadio == 'Co-working'">
    {{selectedRadio?.toLowerCase() === 'co-working' ? 'Coworking Space' : selectedValues.length ? 'Coworking Space' :
    selectedRadio }} in {{nearByLocation && nearByLocation + ', ' | titlecase}}{{ city_name | titlecase }}
  </h1>
  <h1 class="heading" *ngIf="area_name == 0 && show && selectedRadio == 'Coworking Café'">
    {{selectedRadio?.toLowerCase() === 'co-working' ? 'Coworking Space' : selectedValues.length ? 'Coworking Space' :
    selectedRadio }} {{ city_name_display | titlecase }} in {{nearByLocation && nearByLocation | titlecase}}
  </h1>
  <h1 class="heading" *ngIf="area_name != 0 && city_name != null">
    {{selectedRadio?.toLowerCase() === 'co-working' ? 'Coworking Space' : selectedValues.length ? 'Coworking Space' :
    selectedRadio }} in {{ area_name_display | titlecase }}
    {{nearByLocation && nearByLocation + ', '}}{{ city_name_display | titlecase }}
  </h1>
  <h1 class="heading" *ngIf="find_near_me == 1">{{selectedRadio?.toLowerCase() === 'co-working' ? 'Coworking Space' :
    selectedValues.length ? 'Coworking Space' : selectedRadio }}s Near Me</h1>
  <div class="scrollmenu" *ngIf="show">
    <a *ngFor="let space of nearByLocationsList" (click)="openNearByList(space)"
      [ngClass]="space?.location_name.toLowerCase() === nearByLocation && 'selected' ">{{ space?.location_name }} </a>
  </div>
  <div class="row mb_filter_row" style="flex-wrap: nowrap; align-items: baseline">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div class="filter-buttons align-items-center">
        <div>
          <nav role="navigation" class="primary-navigation">
            <ul>
              <li><a (click)="openSpaceType()" class="cursor-pointer" style="color: inherit">Space Type
                  <app-icon name="arrowDropDown" class="w-4"></app-icon></a>
              </li>
            </ul>
          </nav>
        </div>
        <div>
          <a (click)="openLocation()" class="cursor-pointer"> <app-icon name="pencil" class="w-2"></app-icon>
            Location</a>
        </div>
        <div>
          <a class="filters" (click)="openFiltersDialog()" class="cursor-pointer">
            <app-icon name="filter" class="w-3"></app-icon>
            Filters</a>
        </div>
        <div>
          <mat-slide-toggle [(ngModel)]="_showMap" (change)="showHideMap()">Map</mat-slide-toggle>
        </div>
      </div>
      <div class="col-md-12" style="padding: 0px; margin-top: 10px" [hidden]="!open_spaceType">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- <ng-select
              [items]="spaces"
              [multiple]="true"
              bindLabel="name"
              groupBy="type"
              [selectableGroup]="true"
              [closeOnSelect]="false"
              bindValue="name"
              [(ngModel)]="filteredSpaces"
              name="space-type"
              (ngModelChange)="onSelectionChange($event)"
              placeholder="Select your space type...">
              
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="name">
                <input [disabled]="shouldDisable(item)" id="item-{{ item.name }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.type }}
              </ng-template>
              
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="name">
                <input id="item-{{ item.name }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.name }}
              </ng-template>
            </ng-select> -->
            <div #selectedValueDiv>
              <div (click)="showCard = !showCard" class="d-flex custom_values" style="gap: 20px;">
                <ng-container *ngFor="let selected of selectedValues">
                  <div class="border p-1 rounded" *ngIf="!selectedRadio && selectedValues.length">{{selected}}</div>
                </ng-container>
                <div class="border p-1 rounded" *ngIf="selectedRadio">{{selectedRadio}}</div>
              </div>
              <div [ngClass]="showCard ? 'd-block' :'d-none' " class="card shadow-lg space_dropdown">
                <div class="card-body">
                  <div *ngFor="let list of spaces; let i = index">
                    <input [attr.id]="i" type="radio" name="type" [value]="list.spaceType"
                      (change)="onRadioChange(list)" [checked]="selectedRadio === list.spaceType"
                      [(ngModel)]="selectedRadio">
                    <label [attr.for]="i">{{ list.spaceType }}</label>
                    <div *ngIf="list.subpart">
                      <div *ngFor="let item of list.subpart; let k = index">
                        &nbsp; &nbsp;
                        <input type="checkbox" [attr.id]="'name'+k" (change)="onCheckboxChange(item, list.spaceType)"
                          [checked]="item.selected">
                        <label [attr.for]="'name'+k">{{ item.spaceType }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center" style="padding: 0px; margin-top: 10px" [hidden]="!open_location">
        <form class="hero__form v2">
          <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 d-flex flex-md-row flex-column align-items-center justify-content-between">
              <input class="hero__form-input custom-select text-md-start" type="text" name="place-event" id="key-word"
                (input)="onInputChange($event.target.value)" style="font-family: Poppins, FontAwesome; width: 430px;"
                placeholder="&#xF002; Where are you looking for office space?" [formControl]="control"
                [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getLocationValue($event)">
                <ng-container *ngIf="filteredPlaces">
                  <mat-option *ngFor="let val of filteredPlaces" [value]="val">
                    {{val}}
                  </mat-option>
                </ng-container>
                <mat-option *ngIf="!filteredPlaces">
                  Location not found
                </mat-option>
              </mat-autocomplete>
              <a (click)="onNearmeClicked()" class="cursor-pointer d-flex align-items-center"
                style="gap: 2px; color: inherit">
                <app-icon name="location" class="w-2"></app-icon>
                <span class="d-inline-flex" style="white-space: nowrap;">
                  Near Me
                </span>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-json-ld [json]="schema"></ngx-json-ld>