.inventory-label {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.inventory-label i {
  position: relative;
  top: 5px;
  font-size: 18px;
}

.slide img {
  height: 320px;
}

.ribbon-label {
  position: absolute;
  left: 0;
  width: max-content;
}

@media only screen and (max-width: 700px) {
  .slide img {
    height: 285px;
  }
}

@media only screen and (max-width: 567px) {
  .inventory-label {
    flex-wrap: wrap;
  }
  /* .coworkingPlaceClass{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  } */
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .price-value {
    font-size: 14px !important;
  }
  .rs_icon {
    height: 11px !important;
    width: 9px !important;
  }
}

.available-resources {
  margin: 12px 0px 6px 0px;
  height: 39px;
  overflow: hidden;
}

.available-resources span {
  font-size: 12px;
  color: gray;
}

.cursor-pointer {
  font-weight: bold;
  color: #f76900;
  cursor: pointer;
}

.price-value {
  color: black;
  font-weight: 600;
  font-size: 17px;
}

.ms-10 {
  margin-left: -10px;
}

.shortlist-share-container {
  position: absolute;
  top: 3px !important;
  z-index: 3;
  right: 2px;
  display: flex;
  padding: 10px;
}

.shortlist-share-container .btn i {
  font-size: 18px;
  position: relative;
}

.description p {
  line-height: 21px;
  font-size: 14px;
}

.less-content {
  height: 2.8rem;
  overflow: hidden;
}

.btn-accent {
  background-color: #f76900;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  font-size: 12px;
}

.accent_back {
  background-color: #f76900;
  color: #fff;
  padding-right: 10px;
  padding-block: 0.25rem;
}

.rs_icon {
  filter: grayscale(1);
  height: 14px;
  width: 12px;
  margin-right: 2px;
  margin-bottom: 5px;
  object-fit: contain;
}

.cursor_pointer {
  cursor: pointer;
}

.overflow_wrap {
  overflow-wrap: anywhere;
}

.instant_back {
  background-color: #ffbf00;
  border-radius: 5px;
  font-size: small;
  margin-left: 5px;
}

.bolt_icon {
  color: #ffbf00;
  font-size: 19px;
  vertical-align: bottom;
}

.trending-place-item .carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #000 !important;
}

.status_back {
  background-color: navy;
  border-radius: 5px;
  font-size: small !important;
}

::ng-deep .slick-next::before {
  color: #888 !important;
}
::ng-deep .slick-prev::before {
  color: #888 !important;
}

.box-shadow {
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.1);
}
