.slide {
  padding-left: 12px;
  padding-right: 12px;
}
.slick-list {
  border-radius: 6px !important;
}
.work-space-option .slide {
  padding-left: 5px;
  padding-right: 5px;
}

.cities_sec .slide {
  padding-left: 9px;
  padding-right: 9px;
}

.slide:focus {
  outline: none;
}

.author-image:focus {
  outline: none;
}

.carousel {
  padding-right: 15px;
  padding-left: 15px;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide:hover {
  background-position: 0px -53px;
}

.next-slide:hover {
  background-position: -24px -53px;
}
.flex_btn .btn {
  color: #f76900;
  transition: all 500ms;
  background: #0000006b;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  padding: 6px 8px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
}
.flex_btn .btn:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

/* ::-webkit-input-placeholder {
  text-align: center;
} */

::ng-deep .mb_input_box .hero__form .ng-dropdown-panel {
  margin-top: 0 !important;
  border-radius: 11px;
  overflow: hidden;
}

::ng-deep .cdk-overlay-pane {
  overflow: hidden;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 11px;
  margin-top: 4px;
}

::ng-deep .cdk-overlay-pane .mat-autocomplete-panel {
  background: transparent;
  box-shadow: none;
}
.search-icon {
  position: absolute;
  margin: auto;
  zoom: 2;
  padding-left: 3px;
}

mark {
  background-color: yellow; /* or any color you prefer */
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .search-icon {
    position: absolute;
    right: 5px;
    top: 4px;
  }
}

.hero_sec .cursor-pointer {
  color: #fff !important;
  background: #f76900;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 12px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep .hero_sec .ng-select .ng-placeholder {
  color: #000 !important;
  font-weight: 400;
}
::ng-deep .ng-select .ng-value-label {
  color: #000 !important;
  font-weight: 400;
}
.hero_sec .hero__form-input::placeholder {
  color: #000 !important;
}

.how-can-help-img {
  margin: auto;
}

.web {
  display: block;
}

.mobile {
  display: none;
}

::ng-deep .mat-select-panel {
  position: absolute !important;
  top: 50px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.2em 0 !important;
}

::ng-deep .mat-form-field-infix {
  border-top: 0.4em solid transparent !important;
}

@media only screen and (max-width: 900px) {
  /* .cursor-pointer {
    border: 1px solid darkgray;
    width: fit-content;
    padding: 8px 11px;
    font-size: 12px;
    background-color: white;
    border-radius: 20px;
    font-weight: 600;
  } */
  .web {
    display: none;
  }
  .mobile {
    display: block;
  }
}

::ng-deep .ng-select-container {
  border: 0 !important;
}

.Spaces_box .space_img_box {
  background-color: #e9ebef;
  border: none;
  border-radius: 5px;
}
.Spaces_box .space_img_box img {
  width: 100%;
  border-radius: 5px;
  height: 250px;
  object-fit: cover;
}
.Spaces_box .space_img_box .img-container {
  position: relative;
  overflow: hidden;
}
.Spaces_box .space_img_box .img-container::before {
  position: absolute;
  content: "";
  background: #00000061;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  visibility: hidden;
  opacity: 0;
}
.Spaces_box .space_img_box:hover .img-container:before {
  visibility: visible;
  opacity: 1;
}

.Spaces_box .space_img_box .space_txt {
  bottom: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  left: 8px;
  backdrop-filter: blur(15px);
  background: #70809057;
  padding: 6px 5px;
  border-radius: 4px;
  right: 8px;
}

::ng-deep .location_model .ng-input {
  top: auto !important;
}

::ng-deep .location_model .ng-select {
  border-radius: 6px;
  border: 2px solid #f76900;
  box-shadow: 0 0 3px #d3d3d3;
}
.location_model .modal-header {
  background: #f76900;
}
.location_model .close {
  background-image: none !important;
  opacity: 1;
}

.cities_sec .city-img-box {
  overflow: hidden;
  border-radius: 5px;
}
.cities_sec .city-img-box.city_main_img img {
  height: 405px;
}
.cities_sec .city-img-box::before {
  position: absolute;
  content: "";
  background: #0000002b;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.cities_sec .city-img-box img {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.cities_sec .city-img-box .city_txt {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0;
  padding: 50px 50px 5px 10px;
  background: linear-gradient(18deg, #000000c4, transparent, transparent);
}
.cities_sec .slick-list {
  border-radius: 6px !important;
}
.work-space-option .workspace_carousel .workspace_box {
  overflow: hidden;
  height: 100%;
  border-radius: 5px;
  transition: all 500ms;
}

.work-space-option .workspace_carousel .workspace_box img {
  height: 400px;
  object-fit: cover;
}
.work-space-option .workspace_carousel .workspace_box .working-space-cal-single-txt-price-amount h6 {
  font-size: 12px;
  font-weight: 700;
  color: #b2b2b2;
}
.work-space-option .workspace_carousel .workspace_box .working-space-cal-single-txt-price-amount p {
  font-size: 14px;
  font-weight: 700;
}

.work-space-option .workspace_carousel .workSpace_content {
  background: rgba(0, 0, 0, 0.5);
  margin: 10px;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-radius: 5px;
  padding: 10px 15px;
  backdrop-filter: blur(5px);
  width: calc(100% - 20px);
  transition: all 500ms;
}
.work-space-option .workspace_carousel .workSpace_content:hover {
  transform: translateY(-10px);
}
.work-space-option .workspace_carousel .workSpace_content .workspace_txt {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.work-space-option .workspace_carousel .btn_flex {
  background: #00000096;
  border-radius: 50px;
  color: #f76900;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 13px;
  font-size: 13px;
}
.cowrking_brands .cowork_carousel .cowork_brand_box {
  overflow: hidden;
  background: #fafafa;
  border-radius: 6px;
  transition: all 500ms;
  border-bottom: 3px solid #ffdbc0;
}
.cowrking_brands .cowork_carousel .cowork_brand_box:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.cowrking_brands .cowork_carousel .cowork_brand_box img {
  transition: all 500ms;
  height: 40px;
  object-fit: contain;
}

.cowrking_brands .cowork_carousel .cowork_brand_box:hover img {
  transform: scale(1.1);
}

.cowrking_brands .cowork_carousel .cowork_brand_box .cowork_btn .btn {
  color: #f76900;
  transition: all 500ms;
}

.cowrking_brands .cowork_carousel .cowork_brand_box .cowork_btn .btn:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.workspace_steps .space_list .list_items {
  box-shadow: 0 0 3px #7a7a7a;
  border-radius: 7px 7px 0 7px;
}
.workspace_steps .space_list .list_items h6 {
  color: #f76900;
}

.workspace_steps .space_list .list_items .space_count {
  position: absolute;
  top: -21px;
  left: -21px;
  background: linear-gradient(135deg, rgb(81 49 18) 0%, rgb(247 105 0) 100%);
  width: 40px;
  height: 40px;
  border-radius: 7px 7px 0 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

.count_sec .count_box h2 {
  font-size: 40px;
}

.trusted_logos img {
  height: 145px;
}

.why_choose {
  padding: 50px 0;
  overflow: hidden;
}
.why_choose .whyChooseImg {
  z-index: -1;
}
.why_choose::before {
  background: #00000066;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.why_choose .whychos_box {
  box-shadow: 0 0 3px #f7f7f7;
  border-radius: 6px;
  transition: all 500ms;
  background: #0000002b;
  backdrop-filter: blur(6px);
  transition: all 500ms;
  height: 100%;
}
/* .why_choose .whychos_box .choose_icon img {
  height: 55px;
} */
.why_choose .whychos_box:hover {
  transform: translateY(-10px);
}

.why_choose .whychos_box h6 {
  color: #f76900;
}
.why_choose .whychos_box p {
  font-size: 14px;
  line-height: 1.4;
}

.our_team .team_box {
  box-shadow: 0 0 3px #fbb784;
  border-radius: 6px;
}

.our_team .team_box .team_icon {
  left: 0;
  top: 50%;
  /* font-size: 20px; */
  color: #f76900;
  transform: translate(-18px, -18px);
  background: #ffffff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px #f76900;
}
::ng-deep .ng-select .ng-select-container {
  box-shadow: none !important;
}
::ng-deep .ng-select .ng-select-container:focus {
  box-shadow: none !important;
}
::ng-deep .ng-select .ng-select-container:hover {
  box-shadow: none !important;
}

.hero_sec {
  width: 100%;
  position: relative;
  height: calc(100dvh - 82px);
}

.hero_sec .hero-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_sec .hero-slide {
  height: 100%;
}

.animateIMG.backgrounds {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animateIMG.text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_sec .hero-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 57px;
  position: relative;
  z-index: 1;
}

.homeInnerSwiper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.homeInnerSwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.animateIMG.text {
  display: inline;
  font-size: 48px;
  color: #f76900;
}

.animateIMG.backgrounds div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero__form .ng-dropdown-panel {
  width: 100% !important;
}

.hero__form .cdk-overlay-pane {
  width: 100% !important;
}

.animateIMG.text span {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  white-space: nowrap;
  text-shadow: 0px 0px 40px black;
}

.animateIMG.backgrounds div.active {
  opacity: 1 !important;
}

.animateIMG.text span.active {
  opacity: 1 !important;
}

.animateIMG.text span.fade-out {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out;
}

.become_host {
  background-image: url("../../assets/images/become-a-host.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  justify-content: center;
  aspect-ratio: 1024 / 259;
  display: flex;
  flex-direction: column;
}

.become_host::before {
  position: absolute;
  content: "";
  background: #00000061;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

h1.hero-title.v2.ml-0::before {
  display: block;
  content: "";
  width: 80%;
  height: 40px;
  position: absolute;
  inset: 0;
  background: black;
  border-radius: 50px;
  margin: auto;
  z-index: -1;
  filter: blur(68px);
}

@media only screen and (max-width: 576px) {
  .hero-slide {
    position: relative;
    z-index: 2;
  }
  .homeInnerSwiper {
    position: absolute;
    width: 100%;
    height: calc(100% - 200px) !important;
    background-size: cover;
    background-position: bottom;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
  }
  .backgrounds.animateIMG::before {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    z-index: 1;
    background: linear-gradient(0deg, #3a0d00, #3a0d00, #3a0d00, transparent);
    height: 300px;
  }
  .animateIMG.backgrounds {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
  }
}
